<!DOCTYPE html>
<html>
<head>
    <title>P5</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<a href="/">Home</a>
<a href="/quizzes">Quizzes</a>

<h1>Autor:</h1>
<p>Marcos Notario Maria</p>
<p><img src="/public/images/marcos.jpg"></p>



</body>
</html>