<!DOCTYPE html>
<html>
<head>
    <title>P5</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<a href="/">Home</a>
<a href="/credits">Autores</a>


<h1>Todos los Quizzes:</h1>

<ul>
<%for (let i in quizzes) {%>
   <% const quiz = quizzes[i]; %>

    <li>
        <%=quiz.question%> : <%= quiz.answer%>
    </li>

<%}%>
</ul>


</body>
</html>